#header-outer-wrap
	#header-inner-wrap
		#header-auth Josh Kirklin
		#header-title = new code.blog(this);

#body-inner-wrap.float-block
	#post-body
		h1.post-title Sorry, my team of search monkeys has temporarily escaped. <br/><br/>I can't get your results right now.
		p (This page has not yet been implemented)

#footer-outer-wrap