doctype html
html
	head
		title Code Blog | Josh Kirklin
		link(rel='stylesheet', href='/blog/themes/default/stylesheets/style.css')
		script(type='text/javascript' src='/vlib/modernizr-2.8.3.dev.js')
	body
		block header
		block content
		block footer
		script(type='text/javascript' src='/vlib/jQuery/js/jquery-1.9.1.min.js')
		script(type='text/javascript' src='/blog/js/main.js')