
<ng-include src="'main/partials/site-header.html'"></ng-include>

<div id="body-inner-wrap" class="float-block">
	
	<h1 class="body-title">About Me</h1>
	
	<div id="page-body-left">
		<p>I've always been something of a tech head, pulling apart computers and machines to see how they work for as long as I can remember. I began dabbling with code back in the days of QBasic and began hobbyist game development using Dark Basic Pro, a BASIC style wrapper around Direct3d 9, in 2007. Despite its simple and often limited nature, it remains a quite enjoyable language to work with for quickly knocking out some 3d graphics.</p>
		
		<p>My love for coding has since expanded across a variety of languages and platforms. There is something deeply satisfying about taking a problem, devising a solution, implementing it and then ultimately seeing the system running smoothly as intended.</p>
		
		<p>Through self-study and a constant desire to learn and improve, I began to add more relevant languages to my skillset. Java, Python, PHP, and perhaps my favorite, Javascript. In 2011 I made a career change from working with diamonds and gemstones to IT and software development where I began developing web-based business management tools and applications professionally in addition to providing support for an internal corporate network and systems.</p>
		
		<p>My work since then has focused primarily around PHP, SQL, and Javascript, though I have continued to explore additional languages and technologies. C#, Mongodb, and the Android SDK most notably, though it is hard to turn my attention away from Javascript as it rapidly matures and evolves. With modern frameworks and libraries like Angular and React, to the server side with Node.js, and even branching into webGL with Three.js, the language offers a lot to learn and keep current with, and it remains enjoyable to do so!</p>
		
		<p>I am happiest when I am able to find a balance between both left brain logic/problem solving and right brain creativity/artistry. I enjoy outlets for each, though a choice between the two will always fall in favor of my analytical engineering side.</p>
	</div>
		
	<div id="page-body-right">
		<img src="/blog/media/usr/JoshKirklin.jpg"></img>
	</div>
</div>

<ng-include src="'main/partials/site-footer.html'"></ng-include>