
<div id="footer-outer-wrap">
	<div id="footer-inner-wrap">
		
		<a href="http://www.github.com/ortu-" target="_blank">
			<div id="social-btn-github" class="social-btn rounded"></div>
		</a>
		
		<a href="https://plus.google.com/u/0/116033904102273038531/posts" target="_blank">
			<div id="social-btn-gplus" class="social-btn rounded"></div>
		</a>
		
		<a href="https://www.linkedin.com/pub/josh-kirklin/8/43/914" target="_blank">
			<div id="social-btn-linkedin" class="social-btn rounded"></div>
		</a>
		
		<div id="footer-btn-gotoTop" class="footer-btn rounded" onclick="window.scrollTo(0,0)"></div>
	</div>
</div>