body {
  padding:0;
  margin:0;
  color:#444;
  font:14px Consolas, "Courier New", sans-serif;
  background-image:url('/blog/themes/default/images/cream_dust2.png');
}

a {
  color:#bd8600;
  text-decoration:none;
}
a:hover{
	color:#ffc033;
}

.dynamic-wrapper:before,
.dynamic-wrapper:after{
	content:"";
	display:table;
}
.dynamic-wrapper:after{
	clear:both;
}
.dynamic-wrapper{
	zoom:1;
}

.shadowed{
	box-shadow:0px 0px 10px rgb(175,175,175);
	behavior: url('/vlib/PIE/PIE.htc');
}

#header-outer-wrap{
	width:100%;
	height:100px;
	background-color:#2a2a2a;
	color:#ffc933;
}

	#header-inner-wrap{
		height:100%;
		width:1000px;
		margin:0 auto;
		position:relative;
	}
		
		#header-auth{
			height:36px;
			position:absolute;
			top:0px;
			bottom:0px;
			margin:auto 0;
			font:36px Cambria, "Times New Roman", serif;
		}
		#header-title{
			position:absolute;
			right:50px;
			bottom:10px;
			font:24px Consolas, "Courier New", sans-serif;
		}
		
#body-inner-wrap{
	height:100%;
	min-height:800px;
	width:1000px;
	margin:0 auto;
	position:relative;
}
	#loader img{
		width:128px;
		height:128px;
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		margin:auto;
	}

	.post-active-id{
		position:absolute;
		display:none;
	}
	#post-body{
		height:100%;
		min-height:800px;
		width:650px;
		display:inline-block;
		text-align:justify;
		font:20px Cambria, "Times New Roman", serif;
		float:left;
		margin-bottom:70px;
		position:relative;
	}
		#post-body h1{
			font-size:38px;
		}
		.post-date{
			font-size:14px;
		}
		.post-tags{
			font-size:14px;
			float:right;
			color:#bd8600;
			text-transform:capitalize;
		}	
		#post-content{
			color:#555;
			/*font-family: Consolas, "Courier New", sans-serif;*/
		}

	#recent-posts{
		height:100%;
		display:block;
		float:right;
		margin-top:80px;
		position:relative;
		font:14px Cambria, "Times New Roman", serif;
	}
	.recent-post{
		width:246px;
		height:118px;
		background-color:#ffc033;
		margin-top:15px;
		color:#fff;
		padding:5px;
		cursor:pointer;
	}
		.recent-post:hover{
			background-color:#ffa000;
		}
		.preview-post-id{
			display:none;
			position:absolute;
		}
		.preview-date{
			float:right;
			padding-top:4px;
		}
		.preview-title{
			font-size:18px;
			color:#555;
			text-decoration:underline;
			float:left;
		}
		.preview-title-full{
			display:none;
			position:absolute;
		}
		.preview-content{
			margin-top:38px;
		}
	.preview-tags{
		float:left;
		position:relative;
		top:-27px;
		left:5px;
	}
		.preview-tags a{
			color:#555;
			text-transform:capitalize;
		}
		.preview-tags a:hover{
			color:#fff;
		}

#footer-outer-wrap{
	width:100%;
	height:50px;
	background-color:#2a2a2a;
	color:#f0ad33;
	position:fixed;
	bottom:0px;
}