#header-outer-wrap
	#header-inner-wrap
		a(href="/")
			#header-auth Josh Kirklin
		#header-title new code.blog(this);
		#header-nav
			a(href="/portfolio")
				span Portfolio
			a(href="/blog")
				span Blog
			a(href="/about")
				span About			

#body-inner-wrap.float-block
	
	#body-nav
		#nav-btn-menu.nav-btn.rounded(ng-click="menu.active=!menu.active")
			img(src="/main/themes/default/images/icon-menu32.gif")
		//a(href="http://www.github.com/ortu-")
			//#nav-btn-github.nav-btn.rounded
			
		#nav-panel-menu.shadowed2(ng-show="menu.active" ng-mouseover="menu.active=true;" ng-mouseleave="menu.active=false;")
			a(href="/user/login")
				div.nav-menu-item user:\> Login_
			a(href="/user/profile/{{form.user}}")
				div.nav-menu-item user:\> Profile_
			a(href="/")
				div.nav-menu-item loc:\> &nbsp;Home_
	
	#post-body
		h1.post-title {{post.title}}
		p.post-header
			span.post-date {{post.date}}
			span.post-tags
				span(ng-repeat="tag in post.tags")
					| <a href="blog/search/{{tag}}">{{tag}}</a>&nbsp;
		#loader
			img(ng-src="/main/themes/default/images/loader-ring.gif" ng-show="isLoading")
		#post-content(ng-bind-html="post.content")
		
	#recent-posts
		div.preview-block(ng-repeat="preview in previews")
			a(ng-href="blog/{{preview.content}}")
				div.recent-post.shadowed
					div.preview-post-id {{preview._id}}
					div.preview-date {{preview.date}}
					div.preview-title {{preview.previewTitle}}
					div.preview-title-full {{preview.title}}
					div.preview-content {{preview.preview}}
			div.preview-tags
				span(ng-repeat="tag in preview.tags")
					| <a href="blog/search/{{tag}}">{{tag}}</a>&nbsp;			
		
#comments-wrap
	div.comments-list
		div.comment-block.shadowed.float-block(ng-repeat="comment in comments")
			div.comment-left-col
				div
					img.comment-avatar(ng-src="/blog/media/usr/{{comment.avatar}}")
				div.comment-user {{comment.user}}
				div.comment-date {{comment.date}}
			div.comment-right-col
				div.comment-content {{comment.content}}

	div.add-comment-block
		div
			#add-comment-title Add A Comment:
			div
				img.comment-avatar(ng-src="/blog/media/usr/{{form.avatar}}")
			div.comment-user(ng-model='form.user') {{form.user}}
		textarea.add-comment-content(ng-model='form.content')
		div
			input(type='checkbox' id='rbt' ng-model='form.rbt')
			label(for='rbt') I am an entity run by thought
			input(type='checkbox' id='rbc' ng-model='form.rbc')
			label(for='rbc') I am an entity run by code
			div.add-comment-submit(ng-click='addComment()') Add Comment