#header-outer-wrap
	#header-inner-wrap
		a(href="/")
			#header-auth Josh Kirklin
		#header-nav
			a(href="/portfolio")
				span Portfolio
			a(href="/blog")
				span Blog
			a(href="/about")
				span About

#body-inner-wrap.float-block
	p hey! login!